tetresse {
    display: grid;
}

tetresse div {
    display: inline-block;
    background-color: #c2f4ff;
    position: relative;
    width: 100%;
    height: 800px;
}

tetresse div canvas {
    position: absolute;
}
