
body {
    margin: 0;
    background: #c4e8ff;
}

.container {

}

/* profbar */
.profbar {
    text-align: center;
    width: 100%;
    margin: 2px auto 2px auto;
    position: fixed;
    bottom: 0;
    background: #8fd4ff;
    font-size: 20px;
}

.profbar div {
    display: inline-block;
}

.profbar .right {
    float: right;
}

.profbar .left {
    float: left;
}

button.play {
    background-color: #7037C0;
    border: none;
    color: white;
    padding: 8px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: inherit;
}

button.play:hover {
    cursor: pointer;
}

.profbar div a {
    display: inline-block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
}

/* navbar */
.navbar {
    font-size: 20px;
    background-color: #ddd;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

.navbar ul li>a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

.navbar ul li>a:hover {
    background-color: #aaa;
}

.navbar ul li>a.active {
    background-color: #bebebe;
}

.navbar .hamburger {
    position: absolute;
    left: 0px;
}

.play-button {
    display: block;
    background-color: #c0a6e4;
    border: none;
    height: 24px;
    padding: 5px 40px;
    margin: 9px 10px 9px 9px;
    display: inline-block;
    font-size: 20px;
    font-family: inherit;
}

.play-button a {
    text-decoration: none;
    color: black;
}

.play-button:hover {
    cursor: pointer;
}

.hamburger {
    cursor: pointer;
    float: left;
    background: #ddd;
}

.hamburger div {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 6px;
    transition: 0.4s;
}

#navbar-title {
    display: inline-block;
    font-size: 30px;
    margin: 2px;
}

/* content area */
#content-area {
    font-family: "Verdana", Helvetica, sans-serif;
}

/* misc */
.hide {
    display: none !important;
}

/* Mobile (default) */
@media only screen and (max-width: 768px) {
    .not-mobile {
        display: none !important;
    }

    .mobile-hide {
        display: none;
    }

    /* navbar */
    .navbar {
        min-height: 39px;
    }

    .navbar ul {
        background: #ddd;
    }

}

/* Regular */
@media only screen and (min-width: 769px) {
/*    .container {
        display: grid;
        grid-template-columns: [border-left] 1fr 1fr 1fr 1fr [border-right];
        grid-template-rows: auto auto auto;
    }

    div.profbar {
        grid-area: 1 / border-left / 2 / border-right;
    }

    div.navbar {
        grid-area: 2 / border-left / 3 / border-right;
    }

    #content-area {
        grid-area: 3 / border-left / 4 / border-right;
    }*/

    /* navbar */
    .navbar {
        height: 52px;
    }

    .navbar .hamburger {
        display: none;
    }

    .navbar ul {
        float: left;
    }
    
    .navbar ul li {
        float: left;
        margin-right: 3px;
    }

    .navbar ul li.right {
        float: right;
    }

    /* profbar */
    #profbar-profile-container {
        float: none;
    }

    /* misc */
    .mobile {
        display: none !important;
    }
}